<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Search Songs</title>
  <%- include('partials/favicon') %>
  <%- include('partials/bootstrap') %>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>

    <%- include('partials/song-list') %>
    
    <script src="/js/search.js"></script>
  </body>
</html>